## Random Forest Test

In this notebook, I will be testing each csv file that I created in feature engineering notebook.
- will be running random forest classifier to determine countrycode

In [1]:
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
import pandas as pd
import numpy as np

### Aircraft career

In [372]:
dfacc = pd.read_csv("./modified_data/aircraft_carrier.csv")

In [2]:
def randomforest_tester(filename):
    df = pd.read_csv(filename)
    print "total data points: {}".format(len(df))
    a = df.groupby(df['countrycode']).count().sort(columns='recognized',ascending=False).head(5)
    print a['recognized']
    df_test1 = df.drop(['Unnamed: 0','word','X','Y','time'], axis=1)
    df_test2 = df.drop(['Unnamed: 0','word','year','month','day','hour_created','X','Y','time'], axis=1)
    df_test3 = df.drop(['Unnamed: 0','word','year','month','day','hour_created','X','Y','time'], axis=1)
    Y_unuse = df_test1.pop('countrycode')
    Y = df_test2.pop('countrycode')
    b_loon = {'US': 0, 'RU':1, 'BR':2, 'KR':3}
    Y = Y.map(b_loon)
    X_train1, X_test1, y_train1, y_test1 = train_test_split(df_test1, Y)
    X_train2, X_test2, y_train2, y_test2 = train_test_split(df_test2, Y)
    RFC1 = RandomForestClassifier()
    RFC1.fit(X_train1,y_train1)
    score_w_time = RFC1.score(X_test1,y_test1)
    RFC2 = RandomForestClassifier()
    RFC2.fit(X_train2,y_train2)
    score_notime = RFC2.score(X_test2,y_test2)
    return score_w_time,score_notime,RFC1,RFC2,df_test3,df

In [9]:
def randomforest_pkl(filename):
    df = pd.read_pickle(filename)
    print "total data points: {}".format(len(df))
    a = df.groupby(df['countrycode']).count().sort(columns='recognized',ascending=False).head(5)
    print a['recognized']
    df_test1 = df.drop(['word','X','Y','time'], axis=1)
    Y = df_test1.pop('countrycode')
    b_loon = {'US': 0, 'RU':1, 'BR':2, 'KR':3}
    Y = Y.map(b_loon)
    X_train1, X_test1, y_train1, y_test1 = train_test_split(df_test1, Y)
    RFC1 = RandomForestClassifier()
    RFC1.fit(X_train1,y_train1)
    score = RFC1.score(X_test1,y_test1)
    return score,RFC1,df_test1,df

In [374]:
wt,nt,modelwt,modelnt,df1,Y1 = randomforest_tester('./modified_data/aircraft_carrier.csv')

total data points: 4602
countrycode
BR    1200
RU    1200
US    1200
KR    1002
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [375]:
print "aircraft career: {}% with time, {}% with out time".format(wt*100,nt*100)

aircraft career: 42.832319722% with time, 32.7541268462% with out time

### car

In [376]:
wt,nt,modelwt,modelnt,df2,Y2 = randomforest_tester('./modified_data/car.csv')

total data points: 13745
countrycode
BR    3500
RU    3500
US    3500
KR    3245
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [377]:
print "Car: {}% with time, {}% with out time".format(wt*100,nt*100)

Car: 50.8583066628% with time, 38.7838231015% with out time

### cellphone

In [378]:
wt,nt,modelwt,modelnt,df3,Y3 = randomforest_tester('./modified_data/cellphone.csv')

total data points: 8436
countrycode
BR    2200
RU    2200
US    2200
KR    1836
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [379]:
print "cell phone: {}% with time, {}% with out time".format(wt*100,nt*100)

cell phone: 48.1744902798% with time, 38.2645803698% with out time

### Dragon

In [380]:
wt,nt,modelwt,modelnt,df4,Y4 = randomforest_tester('./modified_data/dragon.csv')

total data points: 9342
countrycode
BR    2500
RU    2500
US    2500
KR    1842
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [381]:
print "Dragon: {}% with time, {}% with out time".format(wt*100,nt*100)

Dragon: 45.3767123288% with time, 32.3630136986% with out time

### Hat

In [382]:
wt,nt,modelwt,modelnt,df5,Y5 = randomforest_tester('./modified_data/hat.csv')

total data points: 13200
countrycode
BR    3300
KR    3300
RU    3300
US    3300
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [383]:
print "Hat: {}% with time, {}% with out time".format(wt*100,nt*100)

Hat: 48.9090909091% with time, 36.303030303% with out time

### ice cream

In [384]:
wt,nt,modelwt,modelnt,df6,Y6 = randomforest_tester('./modified_data/ice_cream.csv')

total data points: 7752
countrycode
BR    2000
RU    2000
US    2000
KR    1752
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [385]:
print "ice cream: {}% with time, {}% with out time".format(wt*100,nt*100)

ice cream: 48.9680082559% with time, 35.4489164087% with out time

### monkey

In [386]:
wt,nt,modelwt,modelnt,df7,Y7 = randomforest_tester('./modified_data/monkey.csv')

total data points: 7344
countrycode
RU    2000
US    2000
KR    1782
BR    1562
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [387]:
print "monkey: {}% with time, {}% with out time".format(wt*100,nt*100)

monkey: 46.2962962963% with time, 36.8736383442% with out time

### moon

In [388]:
wt,nt,modelwt,modelnt,df8,Y8 = randomforest_tester('./modified_data/moon.csv')

total data points: 8000
countrycode
BR    2000
KR    2000
RU    2000
US    2000
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [389]:
print "moon: {}% with time, {}% with out time".format(wt*100,nt*100)

moon: 49.0% with time, 35.4% with out time

### rabbit

In [390]:
wt,nt,modelwt,modelnt,df9,Y9= randomforest_tester('./modified_data/rabbit.csv')

total data points: 11877
countrycode
KR    3000
RU    3000
US    3000
BR    2877
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [391]:
print "rabbit: {}% with time, {}% with out time".format(wt*100,nt*100)

rabbit: 48.6531986532% with time, 36.5993265993% with out time

### train

In [392]:
wt,nt,modelwt,modelnt,df10,Y10= randomforest_tester('./modified_data/train.csv')

total data points: 8600
countrycode
BR    2150
KR    2150
RU    2150
US    2150
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [393]:
print "train: {}% with time, {}% with out time".format(wt*100,nt*100)

train: 47.0697674419% with time, 35.488372093% with out time

### mountain

In [394]:
wt,nt,modelwt,modelnt,df11,Y11 = randomforest_tester('./modified_data/mountain.csv')

total data points: 8788
countrycode
BR    2300
RU    2300
US    2300
KR    1888
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [ ]:
score, model,df,orig_df = randomforest_pkl('./modified_data/m')

In [395]:
print "mountain: {}% with time, {}% with out time".format(wt*100,nt*100)

mountain: 47.4283113336% with time, 38.2794720073% with out time

### telephone

In [396]:
wt,nt,modelwt,modelnt,df12,Y12 = randomforest_tester('./modified_data/telephone.pkl')

total data points: 7786
countrycode
BR    2000
RU    2000
US    2000
KR    1786
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [10]:
score, model,df,orig_df = randomforest_pkl('./modified_data/telephone.pkl')

total data points: 7786
countrycode
BR    2000
RU    2000
US    2000
KR    1786
Name: recognized, dtype: int64

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:4: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)

In [397]:
print "telephone: {}% with time, {}% with out time".format(wt*100,nt*100)

telephone: 47.7657935285% with time, 36.5177195686% with out time

'time_per_stroke_0'

## combined

In [451]:
df_combine =pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12], axis=0)
new_df =pd.concat([Y1,Y2,Y3,Y4,Y5,Y6,Y7,Y8,Y9,Y10,Y11,Y12], axis=0)

In [399]:
new_df[new_df['month']==4]

,Unnamed: 0,countrycode,key_id,recognized,word,stroke_number,final_time,first_X,first_Y,year,...,time_per_stroke_27,dp_per_stroke_27,slope_28,direction_28,time_per_stroke_28,dp_per_stroke_28,slope_29,direction_29,time_per_stroke_29,dp_per_stroke_29
8,41854,US,5568865213874176,1,monkey,12,13036,120.000000,199.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
34,107354,US,5179400599371776,1,monkey,6,4366,194.412003,176.234985,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
45,48423,US,6650002099142656,1,monkey,13,15205,171.000000,144.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
87,78530,US,6493301022654464,1,monkey,6,4825,169.000000,63.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
90,119170,US,5724100632772608,1,monkey,12,15938,478.000000,48.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
101,103925,US,4948208784506880,1,monkey,7,8398,386.000000,255.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
106,116778,US,6711385234866176,1,monkey,5,9466,602.000000,295.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
123,67852,US,6028546638086144,1,monkey,14,20295,318.000000,170.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
124,82462,US,6123684525768704,1,monkey,10,10148,617.500000,216.900002,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
169,27504,US,5732183425679360,1,monkey,13,16184,1122.000000,323.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
197,92067,US,5293782155132928,1,monkey,10,12019,193.000000,111.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
199,63813,US,5546895113977856,1,monkey,8,9253,598.750000,506.773010,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
210,75465,US,5926536601403392,1,monkey,6,5001,181.000000,125.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
212,100116,US,4900645343592448,1,monkey,6,10710,685.000000,212.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
245,47958,US,5672268162138112,1,monkey,12,12818,616.000000,419.199997,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
296,92213,US,4903765704441856,1,monkey,8,9726,280.000000,316.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
311,25677,US,4585199792816128,1,monkey,11,9720,798.000000,155.199997,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
318,48397,US,5860073660219392,1,monkey,9,11078,542.000000,278.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
340,45489,US,4525474648686592,1,monkey,8,3578,668.148010,134.770996,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
341,105963,US,6620417156448256,1,monkey,5,5055,464.000000,195.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
379,51329,US,5572646597033984,1,monkey,16,20680,485.000000,77.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
381,26163,US,4835963513602048,1,monkey,10,18757,959.000000,560.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
389,11109,US,6491549615521792,1,monkey,7,6250,759.354004,143.869003,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
392,9520,US,5342453261402112,1,monkey,8,14203,630.000000,129.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
415,34217,US,5468931156344832,1,monkey,11,9679,364.000000,314.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
420,77905,US,6396239123841024,1,monkey,11,19405,698.000000,228.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
427,110958,US,6548389346934784,1,monkey,8,10227,604.000000,211.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
486,113575,US,5197538581807104,1,monkey,12,12425,562.000000,135.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
487,66298,US,5860911178842112,1,monkey,7,14924,687.000000,201.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
488,91380,US,4528629302165504,1,monkey,10,17583,419.000000,287.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6314,53545,KR,6009542548652032,1,monkey,8,5420,169.000000,101.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6344,55952,KR,6715827749388288,1,monkey,9,8576,133.000000,117.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6367,57474,KR,5549643423285248,1,monkey,10,11271,335.000000,81.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6404,60239,KR,5963223406739456,1,monkey,11,17999,935.000000,291.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6428,61681,KR,6233193743122432,1,monkey,9,13068,701.000000,106.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6433,62228,KR,4836522152951808,1,monkey,9,9550,160.000000,132.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6587,73058,KR,6361287753728000,1,monkey,7,10710,510.000000,142.666664,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6599,74257,KR,4822579481149440,1,monkey,10,13004,784.000000,85.900002,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6654,78143,KR,5323397833687040,1,monkey,11,16916,734.779968,201.859993,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6720,82960,KR,6054071158964224,1,monkey,9,14247,670.000000,72.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6755,85272,KR,6721055957712896,1,monkey,10,15747,804.000000,412.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6822,90409,KR,5986212756062208,1,monkey,7,8127,822.000000,347.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6846,92588,KR,6054345768435712,1,monkey,14,15498,775.000000,89.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6900,97740,KR,6375655493074944,1,monkey,5,10224,579.000000,130.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6913,98445,KR,6499306997547008,1,monkey,10,20561,726.000000,302.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
6962,102050,KR,5600158454644736,1,monkey,11,13542,140.817001,142.218002,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7001,104241,KR,5404717872054272,1,monkey,11,16085,649.000000,155.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7061,108227,KR,4543675512127488,1,monkey,8,6689,176.000000,144.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7152,114943,KR,4856715277238272,1,monkey,9,12920,134.313004,140.244995,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7166,115994,KR,6526042162331648,1,monkey,8,14351,879.000000,214.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7200,117642,KR,6646292228866048,1,monkey,9,18410,1002.729980,173.079994,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7202,117756,KR,5866749582901248,1,monkey,9,13581,145.388000,173.074005,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7208,118249,KR,6214460605726720,1,monkey,10,13443,154.785004,110.770004,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7226,119909,KR,6730030157660160,1,monkey,18,17157,817.000000,236.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7236,120442,KR,4968732117958656,1,monkey,14,17101,609.000000,242.900002,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7260,121368,KR,5155031357587456,1,monkey,9,16979,216.000000,172.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7280,122531,KR,5876114222219264,1,monkey,8,6291,174.257996,110.270996,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7328,126255,KR,6338674348261376,1,monkey,9,9008,960.000000,433.900002,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7330,126373,KR,5571531650367488,1,monkey,7,7640,775.000000,113.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0
7336,127085,KR,6460784764780544,1,monkey,11,10963,521.000000,347.000000,2017,...,0,0,0.0,0.0,0,0,0.0,0.0,0,0

In [400]:
def randomforest_combine(df):
    print "total data points: {}".format(len(df))
    a = df.groupby(df['countrycode']).count().sort(columns='recognized',ascending=False).head(5)
    print a['recognized']
    Y = df.pop('countrycode')
    b_loon = {'US': 0, 'RU':1, 'BR':2, 'KR':3}
    Y = Y.map(b_loon)
    X_train1, X_test1, y_train1, y_test1 = train_test_split(df, Y)
    RFC1 = RandomForestClassifier()
    RFC1.fit(X_train1,y_train1)
    proba_test = RFC1.predict_proba(X_test1)
    score = RFC1.score(X_test1,y_test1)
    return score,RFC1,df,proba_test,y_test1

In [401]:
score,model,combineddf,prob,y_test = randomforest_combine(df_combine)

total data points: 109472

/Users/keisukeirie/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:3: FutureWarning: sort(columns=....) is deprecated, use sort_values(by=.....)
  app.launch_new_instance()

countrycode
RU    28150
US    28150
BR    27589
KR    25583
Name: recognized, dtype: int64

In [402]:
score

0.3432841274481146

In [403]:
a = zip(prob,y_test)

In [404]:
aa = []
for i in xrange(len(a)):
    if max(a[i][0])>=0.9 and np.argmax(a[i][0])==a[i][1]:
        aa.append(a[i])

In [405]:
len(aa)

107

In [406]:
len(b)

131

In [407]:
len(aa)/float(len(b))

0.816793893129771

In [15]:
top10feat = model.feature_importances_.argsort()[-20:][::-1]

In [16]:
df.columns[top10feat]

Index([  u'time_per_stroke_0',   u'time_per_stroke_1',  u'total_time_drawing',
       u'ave_time_per_stroke',                u'Xmax',          u'final_time',
                      u'Ymin',         u'std_of_time',           u'std_of_dp',
                    u'key_id',                u'X_10',     u'dp_per_stroke_1',
                       u'Y_0',                 u'Y_4',                 u'X_1',
                       u'X_3',                 u'X_0',                u'Ymax',
                      u'Y_17',                 u'Y_8'],
      dtype='object')

In [410]:
new_df.to_csv("./modified_data/combined_df.csv")

In [411]:
top10feat

array([ 4,  5, 12,  3, 17, 11, 10,  0, 18, 16,  6, 19,  9, 15, 22, 20, 21,
       23, 26, 25])

In [412]:
model.feature_importances_

array([  3.72479335e-02,   3.27015984e-03,   6.50713497e-03,
         3.91497623e-02,   5.65606072e-02,   4.37233678e-02,
         3.65577167e-02,   6.82505579e-03,   9.96097134e-03,
         2.90481610e-02,   3.79874898e-02,   3.82099401e-02,
         3.97804945e-02,   6.30984441e-03,   9.81499260e-03,
         2.88935654e-02,   3.68937123e-02,   3.90766006e-02,
         3.70849074e-02,   3.61050431e-02,   2.75242500e-02,
         2.69955259e-02,   2.80504522e-02,   2.62387260e-02,
         1.94661683e-02,   1.97218257e-02,   1.97959284e-02,
         1.84138715e-02,   1.44756361e-02,   1.44952028e-02,
         1.47118070e-02,   1.30876943e-02,   1.10558813e-02,
         1.12100874e-02,   1.11078713e-02,   1.01365703e-02,
         8.79305416e-03,   8.14457038e-03,   8.47908172e-03,
         7.90477887e-03,   6.69941308e-03,   6.47984893e-03,
         6.67641018e-03,   5.60862918e-03,   5.03036032e-03,
         5.18908430e-03,   5.29459940e-03,   4.47642669e-03,
         3.83605688e-03,   3.83723828e-03,   3.83755929e-03,
         3.41081213e-03,   2.92975569e-03,   2.82079588e-03,
         2.81265562e-03,   2.55845024e-03,   1.96949290e-03,
         2.18684734e-03,   2.34047045e-03,   2.02747571e-03,
         1.57380559e-03,   1.35372089e-03,   1.57214761e-03,
         1.38276718e-03,   1.10321160e-03,   1.02643616e-03,
         1.33845218e-03,   1.05399442e-03,   7.84546654e-04,
         7.05667694e-04,   8.76208009e-04,   7.54014458e-04,
         5.61468683e-04,   4.68602796e-04,   6.48488741e-04,
         7.44154476e-04,   4.26273714e-04,   4.02522239e-04,
         4.87296503e-04,   3.37770751e-04,   2.72844234e-04,
         2.45843742e-04,   2.29040898e-04,   2.58362806e-04,
         1.85366424e-04,   2.12414623e-04,   2.13363327e-04,
         1.63622854e-04,   1.20361810e-04,   1.00927516e-04,
         2.35548516e-04,   1.02291951e-04,   9.63033710e-05,
         1.47203644e-04,   1.52993544e-04,   9.14065494e-05,
         6.77986109e-05,   7.19880186e-05,   7.80633687e-05,
         4.27564322e-05,   4.74756041e-05,   5.59545007e-05,
         5.75132755e-05,   5.59323317e-05,   2.61535256e-05,
         2.87081731e-05,   5.22210899e-06,   2.99099536e-05,
         1.75717073e-05,   1.79310664e-05,   1.16130453e-05,
         1.36477559e-05,   2.03450796e-05,   2.84928162e-06,
         1.22383963e-05,   3.87924205e-05,   0.00000000e+00,
         7.90818306e-06,   1.62461822e-06,   2.92723021e-06,
         0.00000000e+00,   3.24959391e-06,   1.46215640e-06,
         2.97898855e-06,   0.00000000e+00,   1.62444825e-06,
         2.16619357e-06,   3.05840901e-06,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         0.00000000e+00,   0.00000000e+00,   0.00000000e+00,
         2.26262435e-06])

In [416]:
a =np.max(new_df['X'], axis = 0)

In [485]:
new_df.index = xrange(len(new_df))

In [424]:
a =np.max(new_df['X'], axis = 0)

In [488]:
a = new_df['X'][0]

[332, 332, 333, 338, 342, 347, 352, 358, 367, 375, 384, 498, 508, 519, 529, 539, 549, 559, 569, 579, 588, 596, 605, 612, 618, 625, 630, 637, 643, 650, 655, 662, 669, 677, 684, 694, 702, 711, 718, 725, 733, 747, 754, 762, 771, 781, 802, 817, 821, 825, 828, 831, 833, 836, 838, 839, 840, 840, 841, 841, 841, 841, 841, 841, 841, 840, 839, 838, 837, 837, 831, 828, 822, 813, 809, 804, 799, 794, 788, 783, 771, 764, 758, 752, 745, 738, 729, 721, 713, 704, 696, 686, 678, 669, 659, 649, 637, 628, 614, 601, 587, 575, 562, 534, 523, 509, 498, 487, 476, 466, 456, 447, 438, 428, 418, 409, 401, 394, 385, 377, 370, 364, 359, 351, 346, 346, 346, 349, 353, 357, 362, 365, 367, 370, 371, 374, 375, 581, 576, 570, 563, 557, 552, 546, 542, 537, 531, 527, 525, 525, 525]

'[332, 332, 333, 338, 342, 347, 352, 358, 367, 375, 384, 498, 508, 519, 529, 539, 549, 559, 569, 579, 588, 596, 605, 612, 618, 625, 630, 637, 643, 650, 655, 662, 669, 677, 684, 694, 702, 711, 718, 725, 733, 747, 754, 762, 771, 781, 802, 817, 821, 825, 828, 831, 833, 836, 838, 839, 840, 840, 841, 841, 841, 841, 841, 841, 841, 840, 839, 838, 837, 837, 831, 828, 822, 813, 809, 804, 799, 794, 788, 783, 771, 764, 758, 752, 745, 738, 729, 721, 713, 704, 696, 686, 678, 669, 659, 649, 637, 628, 614, 601, 587, 575, 562, 534, 523, 509, 498, 487, 476, 466, 456, 447, 438, 428, 418, 409, 401, 394, 385, 377, 370, 364, 359, 351, 346, 346, 346, 349, 353, 357, 362, 365, 367, 370, 371, 374, 375, 581, 576, 570, 563, 557, 552, 546, 542, 537, 531, 527, 525, 525, 525]'

In [519]:
from ast import literal_eval
a = literal_eval(new_df["X"][1])

KeyError: 'drawing'

'['